<div id="episode" class="blog-container">
  <div>
    <div class="item">
      <img class="img-responsive" alt="{{vm.episode.number}}-{{vm.episode.name}}" src="{{vm.episode.thumbnail_large_url}}">
    </div>
    <div>
      <h2 class="item">
        <span class="position">#{{vm.episode.number}}</span> {{vm.episode.name}}
        <a href="javascript:void(0)"
           class="star"
           ng-class="{starred: vm.episode.starred, unstarred: !vm.episode.starred}"
           ng-click="vm.toggleStar()"
           ng-if="vm.currentUser">☆</a>
      </h2>
      <div class="details">{{vm.episode.published_at}} | {{vm.episode.comments_count}} comments
        <span class="label label-warning" ng-repeat="tag in vm.episode.tags track by $index">
          <a ui-sref="home({tags_name_eq: '{{tag.name}}'})" href="javascript:void(0)">{{tag.name}}</a><span ng-if="!$last">,</span>
        </span>
      </div>
      <div class="description item">
        {{vm.episode.name}}
      </div>
      <a class="twitter-share-button btn btn-info"
         ng-href="https://twitter.com/intent/tweet?text={{vm.episodeNameForTwitter()}}&via=jpkr_ug&url={{vm.episodeUrlForTwitter()}}"
         analytics-on="click"
         analytics-event="Shared on Twitter"
         analytics-category="social sharing">
        Share on Twitter
      </a>
    </div>
    <div class="clear"></div>
    <div class="blog-wrapper blog-content">
      <div ta-bind
           ng-model="vm.episode.blog"
           placeholder="test placeholder"
           required
           ng-model-options="{debounce: 1000}"
           style="width: 100%">
      </div>
    </div>
    <div class="nav_section">
      <div class="inner">
        <div ui-view="comments" id="comments"></div>
      </div>
    </div>
  </div>
</div>
