<div id="episode">
  <div class="info" ng-show="!vm.showVideo">
    <div class="screenshot">
      <a class="play_video" href="javascript:void(0)" ng-click="vm.playVideo()">
        <img alt="{{vm.episode.number}}-{{vm.episode.name}}" height="125" src="{{vm.episode.thumbnail_url}}" width="200">
      </a>
    </div>
    <h1>
      <span class="position">#{{vm.episode.number}}</span> {{vm.episode.name}}
      <a href="javascript:void(0)"
         class="star"
         ng-class="{starred: vm.episode.starred, unstarred: !vm.episode.starred}"
         data-method="post"
         data-remote="true"
         rel="nofollow">☆</a>
    </h1>
    <div class="details">{{vm.episode.published_at}} | {{vm.episode.comments_count}} minutes |
      <span ng-repeat="tag in vm.episode.tags track by $index">
        <a href="javascript:void(0)">{{tag.name}}</a><span ng-if="!$last">,</span>
      </span>
    </div>
    <div class="description">
      {{vm.episode.name}}
    </div>
    <div class="watch"><a href="javascript:void(0)" ng-click="vm.playVideo()" class="play_video watch_button">Click to Play Video ▶</a></div>
    <div class="social">
      <iframe
        id="twitter-widget-0"
        scrolling="no"
        frameborder="0"
        allowtransparency="true"
        class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
        title="Twitter Tweet Button"
        src="http://platform.twitter.com/widgets/tweet_button.289140617d6d66fbee36bb5f0535b846.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Frailscasts.com%2Fepisodes%2F417-foundation&amp;size=m&amp;text=Watching%20Foundation%20on%20RailsCasts&amp;time=1474764550561&amp;type=share&amp;url=http%3A%2F%2Frailscasts.com%2Fepisodes%2F417-foundation&amp;via=railscasts"
        style="position: static; visibility: visible; width: 61px; height: 20px;"
        data-url="http://railscasts.com/episodes/417-foundation">
      </iframe>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
    <div class="clear"></div>
  </div>
  <div class="video-wrapper" ng-show="vm.showVideo">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/R9EpJSAlKsQ" frameborder="0" allowfullscreen class="video"></iframe>
  </div>
  <ul class="nav horizontal">
    <li>
      <a href="javascript:void(0)"
         class="tab"
         ng-class="{selected: vm.commentsSelected}"
         ng-click="vm.commentsSelected = true; vm.similarEpisodesSelected = false;"
         ui-sref="episodes-comments({id: {{vm.episode.id}}})">
        {{vm.episode.comments_count}} Comments
      </a>
    </li>
    <li>
      <a href="javascript:void(0)"
         class="tab"
         ng-class="{selected: vm.similarEpisodesSelected}"
         ng-click="vm.commentsSelected = false; vm.similarEpisodesSelected = true;"
         ui-sref="episodes-similar-ep({id: {{vm.episode.id}}})">
        Similar Episodes
      </a>
    </li>
    <li class="next">
      <a href="javascript:void(0)"
         ui-sref="episodes-comments({id: {{vm.episode.next_episode_id}}})"
         ng-if="!!vm.episode.next_episode_id">
        Next Episode &gt;
      </a>
    </li>
    <li class="previous">
      <a href="javascript:void(0)"
         ui-sref="episodes-comments({id: {{vm.episode.previous_episode_id}}})"
         ng-if="!!vm.episode.previous_episode_id">
        &lt; Previous Episode
      </a>
    </li>
  </ul>
  <div class="nav_section">
    <div class="inner">
      <div ui-view="comments" id="comments"></div>
      <div ui-view="similar-episodes" class="similar"></div>
    </div>
  </div>
</div>
