<div id="episode">
  <div class="info row" ng-show="!vm.showVideo">
    <div class="col-sm-2">
      <a class="play_video" href="javascript:void(0)" ng-click="vm.playVideo()">
        <img class="img-responsive" alt="{{vm.episode.number}}-{{vm.episode.name}}" height="125" src="{{vm.episode.thumbnail_url}}">
      </a>
    </div>
    <div class="col-sm-4 info-right-splash">
      <h1>
        <span class="position">#{{vm.episode.number}}</span> {{vm.episode.name}}
        <a href="javascript:void(0)"
           class="star"
           ng-class="{starred: vm.episode.starred, unstarred: !vm.episode.starred}"
           ng-click="vm.toggleStar()"
           rel="nofollow"
           ng-if="vm.currentUser">☆</a>
      </h1>
      <div class="details">{{vm.episode.published_at}} | {{vm.episode.comments_count}} comments | {{vm.episode.duration | secondsToTimeFormat}} |
        <span ng-repeat="tag in vm.episode.tags track by $index">
          <a href="javascript:void(0)">{{tag.name}}</a><span ng-if="!$last">,</span>
        </span>
      </div>
      <div class="description">
        {{vm.episode.name}}
      </div>
      <div class="watch"><a href="javascript:void(0)" ng-click="vm.playVideo()" class="play_video btn btn-success">動画を見る ▶</a></div>
    </div>
    <!-- <div class="social">
      <iframe
        id="twitter-widget-0"
        scrolling="no"
        frameborder="0"
        allowtransparency="true"
        class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
        title="Twitter Tweet Button"
        ng-src="{{vm.getIframeSrc()}}"
        style="position: static; visibility: visible; width: 61px; height: 20px;"
        data-url="http://railscasts.com/episodes/417-foundation">
      </iframe>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div> -->
    <div class="clear"></div>
  </div>
  <div class="video-wrapper" ng-show="vm.showVideo && vm.episode.youtube_video">
    <div ng-bind-html="vm.embedHtml"></div>
  </div>
  <ul class="nav horizontal">
    <li>
      <a href="javascript:void(0)"
         class="tab"
         ng-class="{selected: vm.commentsSelected}"
         ng-click="vm.commentsSelected = true; vm.similarEpisodesSelected = false;"
         ui-sref="episodes-comments({id: {{vm.episode.id}}})">
        {{vm.episode.comments_count}} コメント
      </a>
    </li>
    <li>
      <a href="javascript:void(0)"
         class="tab"
         ng-class="{selected: vm.similarEpisodesSelected}"
         ng-click="vm.commentsSelected = false; vm.similarEpisodesSelected = true;"
         ui-sref="episodes-similar-ep({id: {{vm.episode.id}}})">
        関連エピソード
      </a>
    </li>
    <li class="next">
      <a href="javascript:void(0)"
         ui-sref="episodes-comments({id: {{vm.episode.next_episode_id}}})"
         ng-if="!!vm.episode.next_episode_id">
        次のエピソード &gt;
      </a>
    </li>
    <li class="previous">
      <a href="javascript:void(0)"
         ui-sref="episodes-comments({id: {{vm.episode.previous_episode_id}}})"
         ng-if="!!vm.episode.previous_episode_id">
        &lt; 前回のエピソード
      </a>
    </li>
  </ul>
  <div class="nav_section">
    <div class="inner">
      <div ui-view="comments" id="comments"></div>
      <div ui-view="similar-episodes" class="similar"></div>
    </div>
  </div>
</div>
