<div class="hidden-xs">
  <div class="search_option">
    <h4>ブログランキング</h4>
    <a href="https://blog.with2.net/link/?1912103"
       style="margin-bottom: 1em; display: inline-block"
       target="_blank">
      <img class="img-responsive" src="/assets/images/blogranking.jpg"/>
    </a>
  </div>
</div>
<div class="hidden-xs">
  <div class="search_option">
    <h4>スポンサードリンク</h4>
    <ul>
      <li class="no-list-style">
        <a href="https://px.a8.net/svt/ejp?a8mat=2TKWUI+8JT4J6+36EM+BYLJL" target="_blank" rel="nofollow">
          <img border="0" class="img-responsive" alt="" src="https://www25.a8.net/svt/bgt?aid=170616906517&wid=001&eno=01&mid=s00000014827002009000&mc=1">
        </a>
        <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=2TKWUI+8JT4J6+36EM+BYLJL" alt="">
      </li>
      <li class="no-list-style">

      </li>
    </ul>
  </div>
</div>
<div class="hidden-xs">
  <div class="search_option">
    <h4>レベル分け</h4>
    <ul class="big-screen-sidebar-section no-list-style">
      <li ng-repeat="episode_type in vm.episodeTypes track by $index">
        <a href="javascript:void(0)"
           ui-sref="home({episode_type_name_eq: '{{episode_type.name}}', tags_name_eq: '', name_or_tags_name_or_episode_type_name_cont: '', starred: ''})"
           analytics-on="click"
           analytics-event="Select {{episode_type.name}}"
           analytics-category="Sidebar Filter"
           class="no-underline">
          {{episode_type.name}} ({{episode_type.episodes_count}})
        </a>
      </li>
    </ul>
  </div>
  <div class="search_option">
    <h4>タグ</h4>
    <div class="clearfix">
      <span ng-repeat="tag in vm.tags" style="margin-right: 0.2em;" class="pull-left">
        <a class="label label-warning"
           href="javascript:void(0)"
           ui-sref="home({tags_name_eq: '{{tag.name}}', episode_type_name_eq: '', name_or_tags_name_or_episode_type_name_cont: '', starred: ''})"
           style="color: white">
          {{tag.name}} ({{tag.episodes_count}})
        </a>
      </span>
    </div>
  </div>
  <div class="search_option">
    <h4>最新の記事</h4>
    <ul class="big-screen-sidebar-section no-list-style">
      <li ng-repeat="latestEpisode in vm.latestEpisodes track by latestEpisode.id">
        <a href="javascript:void(0)"
           ui-sref="episodes-comments({id: {{latestEpisode.id}}})"
           analytics-on="click"
           analytics-event="go to latest episode {{latestEpisode.name}}"
           analytics-category="latest episodes"
           class="no-underline">
          {{latestEpisode.name}}
        </a>
      </li>
    </ul>
  </div>
  <div class="search_option">
    <h4>人気の記事</h4>
    <ul class="big-screen-sidebar-section no-list-style">
      <li ng-repeat="popularEpisode in vm.popularEpisodes track by popularEpisode.id">
        <a href="javascript:void(0)"
           ui-sref="episodes-comments({id: {{popularEpisode.id}}})"
           analytics-on="click"
           analytics-event="go to popular episode {{popularEpisode.name}}"
           analytics-category="popular episodes"
           class="no-underline">
          {{popularEpisode.name}}
        </a>
      </li>
    </ul>
  </div>
</div>
