<div class="mobile-sort-bar container-fluid visible-xs-block mobile-sidebar row">
  <div class="col-xs-6 mobile-sort-bar-item" uib-dropdown is-open="levelSortStatus.isopen">
    <div style="margin: 0 auto; width: 80px;">
      <a id="level-sort-button"
         class="no-underline"
         uib-dropdown-toggle>
        レベル分け<span class="caret"></span>
      </a>
    </div>
    <ul class="dropdown-menu mobile-sort-bar-dropdown" uib-dropdown-menu role="menu" aria-labelledby="level-sort-button">
      <li role="menuitem" ng-repeat="episode_type in vm.episodeTypes track by $index">
        <a href="javascript:void(0)"
           ui-sref="home({episode_type_name_eq: '{{episode_type.name}}', tags_name_eq: '', name_or_tags_name_or_episode_type_name_cont: '', starred: ''})"
           analytics-on="click"
           analytics-event="Select {{episode_type.name}}"
           analytics-category="Sidebar Filter"
           class="no-underline">
          {{episode_type.name}} ({{episode_type.episodes_count}})
        </a>
      </li>
    </ul>
  </div>
  <div class="divider"></div>
  <div class="col-xs-6 mobile-sort-bar-item" uib-dropdown is-open="tagSortStatus.isopen">
    <div style="margin: 0 auto; width: 38px;">
      <a id="tag-sort-button"
         class="no-underline"
         uib-dropdown-toggle>
        タグ<span class="caret"></span>
      </a>
    </div>
    <ul class="dropdown-menu mobile-sort-bar-dropdown" uib-dropdown-menu role="menu" aria-labelledby="tag-sort-button">
      <li role="menuitem" ng-repeat="tag in vm.tags track by $index">
        <a class="no-underline"
           href="javascript:void(0)"
           ui-sref="home({tags_name_eq: '{{tag.name}}', episode_type_name_eq: '', name_or_tags_name_or_episode_type_name_cont: '', starred: ''})">
          {{tag.name}} ({{tag.episodes_count}})
        </a>
      </li>
    </ul>
  </div>

</div>
