.navbar-collapse.in {
  overflow-y: hidden;
}

.no-underline:hover{
  text-decoration: none;
}

.no-border-radius {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer !important;
}

.container {
  padding-bottom: 10em;
}

.unstarred{
  color: #AAA !important;
}

.starred{
  color: #E98C08 !important;
}

.star{
  font-size: 16px;
  text-decoration: none;
  margin-left: 3px;
}

.star:hover {
  text-decoration: none;
}

#toast-container {
  z-index: 9999 !important;
}

.navbar-fixed-top {
  z-index: 999 !important;
}

body {
  padding-top: 50px;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, 'mplus-2p-regular';
}

@font-face
{
font-family: 'mplus-2p-regular';
src: url('../fonts/mplus-2p-regular.eot');
src: url('../fonts/mplus-2p-regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/mplus-2p-regular.woff') format('woff'),
url('../fonts/mplus-2p-regular.ttf') format('truetype');
}

@font-face
{
font-family: 'mplus-2p-light';
src: url('../fonts/mplus-2p-light.eot');
src: url('../fonts/mplus-2p-light.eot?#iefix') format('embedded-opentype'),
url('../fonts/mplus-2p-light.woff') format('woff'),
url('../fonts/mplus-2p-light.ttf') format('truetype');
}

.bs-callout {
padding: 20px;
margin: 20px 0;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
}

.bs-callout h4 {
margin-top: 0;
margin-bottom: 5px;
}

.bs-callout p:last-child {
margin-bottom: 0;
}

.bs-callout code {
border-radius: 3px;
}

.bs-callout+.bs-callout {
margin-top: -5px;
}

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

@mixin bs-mixin($name, $callout-color) {

// Callout border color
.#{$name} {
  border-left-color: $callout-color;
}
// Callout header color
.#{$name} h4 {
  color: $callout-color;
  }
}

@include bs-mixin(bs-callout-default, $gray);
@include bs-mixin(bs-callout-primary, $brand-primary);
@include bs-mixin(bs-callout-info, $brand-info);
@include bs-mixin(bs-callout-danger, $brand-danger);
@include bs-mixin(bs-callout-warning, $brand-warning);
@include bs-mixin(bs-callout-success, $brand-success);

.blog-wrapper h3:before {
  content: "\f0eb";
  font-family: FontAwesome;
  position: relative;
  padding-right: 10px;
  color: #6C9FCE;
}

.blog-wrapper strong, .blog-wrapper b {
	margin: auto .2em;
	background: linear-gradient(transparent 80%, #ffc6fa 80%);
	background: -webkit-linear-gradient(transparent 80%, #ffc6fa 80%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,#fff), color-stop(80%,#ffc6fa));
}

.blog-wrapper p {
  font-size: 1.14em;
}

.blog-wrapper li {
  font-size: 1.08em;
}

.red-text {
  color: #b22222;
}

.green-text {
  color: #149b14;
}

.blog-wrapper p {
  line-height: 1.71em;
}


// body {
//   background-color: #FFF;
//   font-family: Verdana, Helvetica, Arial;
//   font-size: 14px;
//   margin: 0;
// }
//
// a img {
//   border: none;
// }
//
// h1 {
//   font-size: 24px;
// }
//
// h2 {
//   font-size: 18px;
// }
//
// h3 {
//   font-size: 14px;
// }
//
// h4 {
//   font-size: 12px;
// }
//
// .clear {
//   clear: both;
// }
//
// ul {
//   margin: 4px 0;
//   padding-left: 17px;
// }
//
// ul.horizontal {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }
//
// ul.horizontal li {
//   margin: 0;
//   padding: 0;
//   float: left;
// }
//
// a {
//   color: #4F534E;
//   text-decoration: none;
// }
//
// a:hover {
//   color: #5bc0de;
//   text-decoration: underline;
// }
//
// .clearfix:after {
//      visibility: hidden;
//      display: block;
//      font-size: 0;
//      content: " ";
//      clear: both;
//      height: 0;
//      }
// .clearfix { display: inline-block; }
// /* start commented backslash hack \*/
// * html .clearfix { height: 1%; }
// .clearfix { display: block; }
// /* close commented backslash hack */
//
// .field {
//   margin: 10px 0;
// }
//
// .actions {
//   margin: 8px 0;
// }
//
// .actions a {
//   padding: 3px 8px 2px 8px;
//   font-size: 12px;
//   color: #000;
//   border: 1px solid #999;
//   border-radius: 5px;
//   -webkit-border-radius: 5px;
//   -moz-border-radius: 5px;
//   background: #DDD;
//   background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#DDD));
//   background: -moz-linear-gradient(top,  #F5F5F5, #DDD);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#DDD');
//   text-decoration: none;
// }
//
// .label {
//   display: inline-block;
//   width: 140px;
//   text-align: right;
// }
//
// .form-group {
//   margin: 10px 0;
// }
//
// .form-input {
//   width: 400px;
//   line-height: 28px;
//   border: 1px solid #dad8de;
//   color: #706a7c;
// }
//
// textarea {
//   resize: none;
// }
//
// label {
//   display: block;
//   font-weight: 600;
//   margin-bottom: 5px;
// }
//
// input, textarea {
//   font-size: 16px;
// }
//
//
//
