// Modules and Variables
@import "partials/base";

// Partials
@import "partials/sidebar";
@import "partials/star";
@import "partials/layers";
@import "partials/navbar";
@import "partials/blog";
@import "partials/about";
@import "partials/image";
@import "partials/link";
@import "partials/episode_block";

// Third-party
@import "vendor/bootstrap-theme.min";
@import "vendor/bootstrap.min";

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1030px;
}

#main-container {
  padding-top: 100px;
}

@media all and (max-width: 768px) {
  #main-container {
    padding-top: 20px;
  }
}

@media all and (max-width: 768px) {
  .dynamic-font-size {
    font-size: 1em
  }
}
