*.DS_Store
log
tmp
private
coverage
ngapp/index.html
public/**
zeus.json
custom_plan.rb

# ignore the .ruby-gemset file, but you can use one if you want
.ruby-gemset

.byebug_history
.envrc
dump.rdb
client_secrets.example.json

/config/aws.yml

/client/gulp/aws.js

# Ignore application configuration
/config/application.yml
