*.DS_Store
log
tmp
private
coverage
ngapp/index.html
public/**

# ignore the .ruby-gemset file, but you can use one if you want
.ruby-gemset

.byebug_history
.envrc
dump.rdb

/config/database.yml
/config/secrets.yml
