<!-- <div class="episode_views hidden-xs">
  並び替え:
  <span class="view">
    <a href="javascript:void(0)" title="List View" ng-click="vm.setCurrentStyle('full')" ng-class="{selected: vm.getCurrentStyle() == 'full'}">
      <img alt="Full" height="10" src="/assets/images/full.png" width="15">
    </a>
  </span>
  <span class="view">
    <a href="javascript:void(0)" title="List View" ng-click="vm.setCurrentStyle('list')" ng-class="{selected: vm.getCurrentStyle() == 'list'}">
      <img alt="List" height="10" src="/assets/images/list.png" width="14">
    </a>
  </span>
  <span class="view">
    <a href="javascript:void(0)" title="Grid View" ng-click="vm.setCurrentStyle('grid')" ng-class="{selected: vm.getCurrentStyle() == 'grid'}">
      <img alt="Grid" height="10" src="/assets/images/grid.png" width="11">
    </a>
  </span>
</div> -->
<div class="hidden-xs">
  <div class="search_option">
    <h2>レベル分け</h2>
    <div class="list-group">
      <a ng-repeat="episodetype in vm.episodeTypes"
         class="list-group-item"
         ng-class="{active: vm.getType() == episodetype.name}"
         href="javascript:void(0)"
         ng-click="vm.toggleType(episodetype.name)">
        {{episodetype.name}}
      </a>
    </div>
  </div>
  <div class="search_option">
    <h2>カテゴリー</h2>
    <div class="list-group">
      <a ng-repeat="tag in vm.tags"
         class="list-group-item"
         ng-class="{active: vm.getTag() == tag.name}"
         href="javascript:void(0)"
         ng-click="vm.toggleTag(tag.name)">
        {{tag.name}}
      </a>
    </div>
  </div>
</div>

<div class="hidden-menu container visibile-xs mobile-sidebar" ng-show="vm.hiddenMenuIsVisible">
  <div class="col-xs-11 hidden-menu-body">
    <div class="search_option">
      <h2>レベル分け</h2>
      <div class="list-group">
        <a ng-repeat="episodetype in vm.episodeTypes"
           class="list-group-item"
           ng-class="{active: vm.getType() == episodetype.name}"
           href="javascript:void(0)"
           ng-click="vm.toggleType(episodetype.name)">
          {{episodetype.name}}
        </a>
      </div>
    </div>
    <div class="search_option">
      <h2>カテゴリー</h2>
      <div class="list-group">
        <a ng-repeat="tag in vm.tags"
           class="list-group-item"
           ng-class="{active: vm.getTag() == tag.name}"
           href="javascript:void(0)"
           ng-click="vm.toggleTag(tag.name)">
          {{tag.name}}
        </a>
      </div>
    </div>
  </div>
</div>
<div class="visible-xs side-button-container">
  <button type="button"
          class="btn btn-warning btn-xs hidden-menu-button"
          ng-click="vm.openMobileSidebar()"
          ng-show="vm.hiddenMenuIsVisible == false">&lt</button>
  <button type="button"
          class="btn btn-warning btn-xs hidden-menu-button"
          ng-click="vm.closeMobileSidebar()"
          ng-show="vm.hiddenMenuIsVisible == true">&gt</button>
</div>
