<div class="comment ng-scope" ng-if="vm.currentUser">
  <div class="avatar">
    <img alt="Avatar" height="64" ng-src="{{vm.currentUser.avatar_url || '/assets/images/guest.png'}}" width="64">
  </div>
  <div class="main">
    <div class="headline">
      <span class="position">新しいコメント</span>
      <span class="name">
        <a class="blue-text ng-binding" href="/users/{{vm.comment.user.id}}">{{vm.currentUser.name}}</a>
      </span>
    </div>
    <div class="comment_content">
      <div class="field">
        <textarea cols="65" id="comment_content" rows="6" ng-model="newComment.content" class="ng-pristine ng-valid ng-empty ng-touched" aria-invalid="false" style=""></textarea>
      </div>
      <div class="actions">
        <input name="commit" type="button" value="コメントする" ng-click="vm.reply(newComment)">
      </div>
    </div>
  </div>
</div>
<div ng-if="!vm.currentUser">
  ログインしてコメントする
</div>
<ug-comment ng-repeat="comment in vm.comments | orderBy:'-created_at'"
            comment="comment">
</ug-comment>
