<div class="episode_views">
  View:
  <span class="view">
    <a href="javascript:void(0)" title="List View" ng-click="vm.setCurrentStyle('full')" ng-class="{selected: vm.getCurrentStyle() == 'full'}">
      <img alt="Full" height="10" src="/assets/img/full.png" width="15">
    </a>
  </span>
  <span class="view">
    <a href="javascript:void(0)" title="List View" ng-click="vm.setCurrentStyle('list')" ng-class="{selected: vm.getCurrentStyle() == 'list'}">
      <img alt="List" height="10" src="/assets/img/list.png" width="14">
    </a>
  </span>
  <span class="view">
    <a href="javascript:void(0)" title="Grid View" ng-click="vm.setCurrentStyle('grid')" ng-class="{selected: vm.getCurrentStyle() == 'grid'}">
      <img alt="Grid" height="10" src="/assets/img/grid.png" width="11">
    </a>
  </span>
</div>
<div class="search_option">
  <h2>Types</h2>
  <ul>
    <li ng-repeat="episodetype in vm.episodeTypes">
      <a href="javascript:void(0)"
         ui-sref="home">
        {{episodetype.name}}
      </a>
    </li>
  </ul>
</div>
<div class="search_option">
  <h2>Categories</h2>
  <ul>
    <li ng-repeat="tag in vm.tags">
      <a href="javascript:void(0)"
         ui-sref="home">
        {{tag.name}}
      </a>
    </li>
  </ul>
</div>
