body {
  padding-top: 50px;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, 'mplus-2p-regular' !important;
  background-color: $gray-lighter;
}

.no-list-style {
  @include reset-list-style();
}
