<div class="form-group">
  <label class="label" for="name">name</label>
  <input class="form-input text" id="name" type="text" ng-model="vm.episode.name"/>
</div>
<div class="form-group">
  <label class="label" for="duration">duration</label>
  <input class="form-input text" id="duration" type="number" min="0" ng-model="vm.episode.duration"/>
</div>
<div class="form-group">
  <label class="label" for="thumnail_rul">Thumbnail URL</label>
  <input class="form-input text" id="name" type="url" ng-model="vm.episode.thumbnail_url"/>
</div>
<div class="form-group">
  <label class="label" for="description">description</label>
  <textarea class="form-input" rows="10" id="description" ng-model="vm.episode.description"/>
</div>
