<div class="form-group">
  <label class="label" for="name">Name</label>
  <input class="form-input text" id="name" type="text" ng-model="vm.episode.name"/>
</div>
<div class="form-group">
  <label class="label" for="description">Description</label>
  <textarea class="form-input" rows="10" id="description" ng-model="vm.episode.description"/>
</div>
<div class="form-group">
  <label class="label" for="tags">tags</label>
  <tags-input ng-model="vm.tags"
              id="tags"
              key-property="id"
              tpye="text"
              min-tags="1"
              on-tag-added="vm.addTag($tag)"
              on-tag-removed="vm.removeTag($tag)"
              style="display:inline-block; width:406px">
    <auto-complete source="vm.searchTags($query)"
                   min-length="2">
    </auto-complete>
  </tags-input>
</div>
<div class="form-group">
  <label class="label" for="episode_types">Episode Type</label>
  <select class="form-input"
          ng-model="vm.episode.episode_type_id"
          ng-options="episodeType.id as episodeType.name for episodeType in vm.episodeTypes">
  </select>
</div>
<div class="form-group">
  <label class="label" for="youtube_videos">Youtube Video</label>
  <tags-input ng-model="vm.youtubeVideos"
              id="youtube_videos"
              key-property="id"
              tpye="text"
              min-tags="1"
              max-tags="1"
              on-tag-adding="vm.canAddVideo()"
              on-tag-added="vm.setYoutubeVideo($tag)"
              on-tag-removed="vm.setYoutubeVideo()"
              style="display:inline-block; width:406px"
              placeholder="Add a youtube video">
    <auto-complete source="vm.searchYoutubeVideos($query)"
                   min-length="3">
    </auto-complete>
  </tags-input>
</div>
