<div class="well well-lg">
  <h3>List of Episodes</h3>
  <form id="newEpisodeForm" class="form-inline">
    <div class="form-group">
      <tags-input ng-model="vm.newEpisodes"
                  id="new-episodes"
                  key-property="id"
                  tpye="text"
                  add-from-autocomplete-only="true"
                  style="display:inline-block; width:406px"
                  placeholder="Add new episodes">
        <auto-complete source="vm.getEpisodes($query)"
                       min-length="3">
        </auto-complete>
      </tags-input>
    </div>
    <div class="form-group">
      <button ng-click="vm.addNewEpisodes()" class="btn btn-success">add new episodes</button>
    </div>
  </form>
  <table class="table">
    <tbody>
      <tr>
        <th>Episode Name</th>
        <th>Delete</th>
      </tr>
      <tr class="episode" ng-repeat="episode in vm.episodes track by episode.id">
        <td>{{episode.name}}</td>
        <td><button ng-click="vm.removeEpisode(episode)" class="btn btn-danger">delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
