<div id="top">
  <div class="logo">
    <a class="no-underline"
       style="cursor:pointer"
       ui-sref="home({starred: null, episode_type_name_eq: null, tags_name_eq: null, name_or_tags_name_or_episode_type_name_cont: null})">
      <img alt="Yuji profile Logo" height="56" src="/assets/images/yuji_profile.jpg">
      <img class="yuji-logo-tagline" alt="JapaneseKoreanUG" height="40" src="/assets/images/Logomakr_7vEWEF.jpg">
    </a>
  </div>
  <div class="user_nav">
    <div ng-show="vm.currentUser">
      <a href="javascript:void(0)" ui-sref="profile">{{ vm.currentUser.name }}</a>
      | <a href="javascript:void(0)" ui-sref="home({starred: true})">お気に入り動画</a>
      | <a href="javascript:void(0)" ng-click="vm.logout()">ログアウト</a>
    </div>
    <div ng-show="!vm.currentUser">
      <a href="javascript:void(0)" ng-click="vm.openLoginModal();">ログイン</a>
      | <a href="javascript:void(0)" ng-click="vm.openSignupModal();">新規会員登録</a>
    </div>
  </div>
  <ul class="subscribe horizontal">
    <li>
      <a href="https://twitter.com/jpkr_ug"><img alt="Twitter" height="34" src="/assets/images/twitter.png" width="34"></a>
      <span class="name">Twitterをフォローする</span>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UCPLVTmdgB-ljT3S5xGBhBQA"><img alt="Youtube" height="34" src="/assets/images/youtube.jpg" width="34"></a>
      <span class="name">Youtubeチャンネル登録</span>
    </li>
    <li>
      <a href="https://www.twitch.tv/japanesekoreanug"><img alt="Twitch" height="34" src="/assets/images/twitch.png" width="34"></a>
      <span class="name">Twitchをフォローする</span>
    </li>
  </ul>
</div>
<div id="nav-bar">
  <ul class="nav horizontal">
    <li><a href="javascript:void(0)" ui-sref="tags" ng-if="vm.currentUser.role=='admin'">Tags</a></li>
    <li><a href="javascript:void(0)" ui-sref="episode-groups" ng-if="vm.currentUser.role=='admin'">Episode Groups</a></li>
    <li><a href="javascript:void(0)" ui-sref="episodes-create" ng-if="vm.currentUser.role=='admin'">Create Episode</a></li>
    <li><a href="javascript:void(0)" ui-sref="youtube" ng-if="vm.currentUser.role=='admin'">Youtube Import</a></li>
    <li>|</li>
    <li><a href="javascript:void(0)" ui-sref="home({starred: null, episode_type_name_eq: null, tags_name_eq: null, name_or_tags_name_or_episode_type_name_cont: null})">講座エピソード</a></li>
    <li><a href="javascript:void(0)" ui-sref="about">このサイトについて</a></li>
    <li><a href="javascript:void(0)" ui-sref="feedback">フィードバック</a></li>
  </ul>
  <form ng-submit="vm.searchEpisodes()" ng-show="vm.$state.current.name == 'home'">
    <input name="search" size="35" type="text" ng-model="vm.keyword">
    <input type="submit" value="エピソード検索">
  </form>
</div>
<div class="login-container" ng-if="vm.loginWndOpen">
  <div class="login-inner">
    <div class="login-box" style="height: 417px;">
      <div class="wrapper">
        <div class="item">
          <button class="twitch_button button" style="padding: 10px 12px;">
            <span style="font-size:14px; cursor: pointer;" ng-click="vm.authenticate('twitch')">Twitchでログイン</span>
          </button>
        </div>
        <div class="field item">
          <label for="email">メールアドレス</label>
          <input autocapitalize="none" type="text" name="username" id="username" class="text" ng-model="user.email">
        </div>
        <div class="field item">
          <label for="password">パスワード</label>
          <input autocapitalize="none" type="password" name="password" id="password" class="text" ng-model="user.password">
        </div>
        <!-- <div class="help">
          <a>Trouble loggin in?</a>
        </div> -->
        <div class="help">
          初めての方は登録手続きへお進みください。 <a href="javascript:void(0)" ng-click="vm.closeLoginModal();vm.openSignupModal();">新規会員登録</a>
        </div>
        <div class="buttons">
          <button type="button" style="cursor: pointer;" ng-click="vm.login(user)">
              ログイン
          </button>
        </div>
      </div>
    </div>
    <div class="modal-close-btn" ng-click="vm.closeLoginModal()">
      &#10005;
    </div>
  </div>
</div>
<div class="signup-container" ng-if="vm.signupWndOpen">
  <div class="signup-inner">
    <div class="signup-box" style="height: 500px;">
      <div class="wrapper">
        <div class="item">
          <button class="twitch_button button" style="padding: 10px 12px;">
            <span style="font-size:14px; cursor: pointer;" ng-click="vm.authenticate('twitch')">Twitchでログイン</span>
          </button>
        </div>
        <div class="field item">
          <label for="email">メールアドレス</label>
          <input autocapitalize="none" type="email" name="email" id="email" class="text" ng-model="user.email">
        </div>
        <div class="field item">
          <label for="name">アカウント名</label>
          <input autocapitalize="none" type="text" name="name" id="name" class="text" ng-model="user.name">
        </div>
        <div class="field item">
          <label for="password">パスワード</label>
          <input autocapitalize="none" type="password" name="password" id="password" class="text" ng-model="user.password">
        </div>
        <div class="field item">
          <label for="password-confirmation">パスワードの再確認</label>
          <input autocapitalize="none" type="password" name="password" id="password-confirmation" class="text" ng-model="user.password_confirmation">
        </div>
        <div class="help">
          アカウントをすでにお持ちの方　<a href="javascript:void(0)" ng-click="vm.closeSignupModal();vm.openLoginModal()">ログイン</a>
        </div>
        <div class="buttons">
          <button type="button" style="cursor: pointer;" ng-click="vm.signup(user)">
              新規会員登録
          </button>
        </div>
      </div>
    </div>
    <div class="modal-close-btn" ng-click="vm.closeSignupModal()">
      &#10005;
    </div>
  </div>
</div>
