<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid mobile-only-padding">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="vm.isNavCollapsed = !vm.isNavCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home({starred: null, episode_type_name_eq: null, tags_name_eq: null, name_or_tags_name_or_episode_type_name_cont: null})">JPKR UG</a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="vm.isNavCollapsed">
      <ul class="nav navbar-nav navbar-right" ng-show="vm.currentUser">
        <li><a href="javascript:void(0)" ui-sref="profile">{{ vm.currentUser.name }}</a></li>
        <li><a href="javascript:void(0)" ui-sref="home({starred: true})">お気に入り</a></li>
        <li><a href="javascript:void(0)" ng-click="vm.logout()">ログアウト</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="!vm.currentUser">
        <li><a href="javascript:void(0)" ng-click="vm.openLoginModal();">ログイン</a></li>
        <li><a href="javascript:void(0)" ng-click="vm.openSignupModal();">新規会員登録</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron" ng-if="vm.$state.current.name != 'episodes-comments' && vm.$state.current.name != 'episodes-similar-ep'">
  <div class="container-fluid" style="padding-top: 50px;">
    <div class="col-md-6 col-sm-8">
      <a class="no-underline"
         style="cursor:pointer"
         ui-sref="home({starred: null, episode_type_name_eq: null, tags_name_eq: null, name_or_tags_name_or_episode_type_name_cont: null})">
        <img class="col-md-3 hidden-xs hidden-sm img-responsive" style="margin:10px 0;" alt="Yuji profile Logo" src="/assets/images/yuji_profile.jpg">
        <img class="col-md-9 img-responsive" style="margin:10px 0;" alt="JapaneseKoreanUG" src="/assets/images/Logomakr_7vEWEF.jpg">
      </a>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10 hidden-xs">
      <span class="pull-right"><a href="https://twitter.com/jpkr_ug"><img alt="Twitter" height="34" src="/assets/images/twitter.png" width="34"></a></span>
      <span class="pull-right"><a href="https://www.youtube.com/channel/UCPLVTmdgB-ljT3S5xGBhBQA"><img alt="Youtube" height="34" src="/assets/images/youtube.jpg" width="34"></a></span>
      <span class="pull-right"><a href="https://www.twitch.tv/japanesekoreanug"><img alt="Twitch" height="34" src="/assets/images/twitch.png" width="34"></a></span>
    </div>
  </div>
</div>
<nav class="navbar navbar-inverse no-border-radius yellow-bot-border hidden-xs" role="navigation">
  <div class="container-fluid" style="padding: 0 15px;">
    <form class="navbar-form navbar-left" ng-submit="vm.searchEpisodes()" ng-show="vm.$state.current.name == 'home'">
      <div class="form-group">
        <input name="search" type="text" ng-model="vm.keyword" class="form-control">
      </div>

      <button type="submit" class="btn btn-default">エピソード検索</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="javascript:void(0)" ui-sref="tags" ng-if="vm.currentUser.role=='admin'">Tags</a></li>
      <li><a href="javascript:void(0)" ui-sref="episode-groups" ng-if="vm.currentUser.role=='admin'">Episode Groups</a></li>
      <li><a href="javascript:void(0)" ui-sref="episodes-create" ng-if="vm.currentUser.role=='admin'">Create Episode</a></li>
      <li><a href="javascript:void(0)" ui-sref="youtube" ng-if="vm.currentUser.role=='admin'">Youtube Import</a></li>
      <li ng-if="vm.currentUser.role=='admin'" class="split">|</li>
      <li><a href="javascript:void(0)" ui-sref="home({starred: null, episode_type_name_eq: null, tags_name_eq: null, name_or_tags_name_or_episode_type_name_cont: null})">ブログ講座</a></li>
      <li><a href="javascript:void(0)" ui-sref="schedule">配信予定</a></li>
      <li><a href="javascript:void(0)" ui-sref="about">このサイトについて</a></li>
      <li><a href="javascript:void(0)" ui-sref="feedback-create" ng-if="!vm.currentUser||vm.currentUser.role=='user'">フィードバック</a></li>
      <li><a href="javascript:void(0)" ui-sref="feedback-index" ng-if="vm.currentUser.role=='admin'">フィードバック</a></li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-grey navbar-fixed-bottom no-border-radius visible-xs" role="navigation">
  <div class="container-fluid">
    <form class="navbar-form navbar-left row" ng-submit="vm.searchEpisodes()" ng-show="vm.mobileSearchOpen">
      <div class="col-xs-7">
        <input name="search" type="text" class="form-control" ng-model="vm.keyword">
      </div>
      <div class="col-xs-5">
        <button type="submit" class="btn btn-sm btn-default">エピソード検索</button>
      </div>
    </form>
    <ul class="row" style="padding-left:0;padding-top:15px;" ng-if="vm.$state.current.name == 'home'">
      <li class="col-xs-3 mobile-nav border-right">
        <div class="center-item">
          <a href="javascript:void(0)">
            <span class="glyphicon glyphicon-search" aria-hidden="true" ng-click="vm.mobileSearchOpen = !vm.mobileSearchOpen"></span>
          </a>
        </div>
      </li>
      <li class="col-xs-3 mobile-nav border-right">
        <div class="center-item">
          <a href="javascript:void(0)"
             ui-sref="schedule">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          </a>
        </div>
      </li>
      <li class="col-xs-3 mobile-nav border-right">
        <div class="center-item">
          <a href="javascript:void(0)" ui-sref="about" ng-click="vm.closeMobileSearch()">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          </a>
        </div>
      </li>
      <li class="col-xs-3 mobile-nav">
        <div class="center-item">
          <a href="javascript:void(0)" ui-sref="feedback-create" ng-click="vm.closeMobileSearch()">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          </a>
        </div>
      </li>
    </ul>
    <ul class="row" style="padding-left:0;padding-top:15px;" ng-if="vm.$state.current.name != 'home'">
      <li class="col-xs-3 mobile-nav border-right">
        <div class="center-item">
          <a href="javascript:void(0)"
             ui-sref="home({starred: null, episode_type_name_eq: null, tags_name_eq: null, name_or_tags_name_or_episode_type_name_cont: null})">
            <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
          </a>
        </div>
      </li>
      <li class="col-xs-3 mobile-nav border-right">
        <div class="center-item">
          <a href="javascript:void(0)"
             ui-sref="schedule">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          </a>
        </div>
      </li>
      <li class="col-xs-3 mobile-nav border-right">
        <div class="center-item">
          <a href="javascript:void(0)" ui-sref="about">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          </a>
        </div>
      </li>
      <li class="col-xs-3 mobile-nav">
        <div class="center-item">
          <a href="javascript:void(0)" ui-sref="feedback-create">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="login-container" ng-if="vm.loginWndOpen">
  <div class="login-inner">
    <div class="login-box" style="height: 417px;">
      <div class="wrapper">
        <div class="item">
          <button class="twitch_button button" style="padding: 10px 12px;" ng-click="vm.authenticate('twitch')">
            <span style="font-size:14px; cursor: pointer;">Twitchでログイン</span>
          </button>
        </div>
        <div class="field item">
          <label for="email">メールアドレス</label>
          <input autocapitalize="none" type="text" name="username" id="username" class="text" ng-model="user.email">
        </div>
        <div class="field item">
          <label for="password">パスワード</label>
          <input autocapitalize="none" type="password" name="password" id="password" class="text" ng-model="user.password">
        </div>
        <!-- <div class="help">
          <a>Trouble loggin in?</a>
        </div> -->
        <div class="help">
          初めての方は登録手続きへお進みください。 <a href="javascript:void(0)" ng-click="vm.closeLoginModal();vm.openSignupModal();">新規会員登録</a>
        </div>
        <div class="buttons">
          <button type="button" style="cursor: pointer;" ng-click="vm.login(user)">
              ログイン
          </button>
        </div>
      </div>
    </div>
    <div class="modal-close-btn" ng-click="vm.closeLoginModal()">
      &#10005;
    </div>
  </div>
</div>
<div class="signup-container" ng-if="vm.signupWndOpen">
  <div class="signup-inner">
    <div class="signup-box" style="height: 500px;">
      <div class="wrapper">
        <div class="item">
          <button class="twitch_button button" style="padding: 10px 12px;">
            <span style="font-size:14px; cursor: pointer;" ng-click="vm.authenticate('twitch')">Twitchでログイン</span>
          </button>
        </div>
        <div class="field item">
          <label for="email">メールアドレス</label>
          <input autocapitalize="none" type="email" name="email" id="email" class="text" ng-model="user.email">
        </div>
        <div class="field item">
          <label for="name">アカウント名</label>
          <input autocapitalize="none" type="text" name="name" id="name" class="text" ng-model="user.name">
        </div>
        <div class="field item">
          <label for="password">パスワード</label>
          <input autocapitalize="none" type="password" name="password" id="password" class="text" ng-model="user.password">
        </div>
        <div class="field item">
          <label for="password-confirmation">パスワードの再確認</label>
          <input autocapitalize="none" type="password" name="password" id="password-confirmation" class="text" ng-model="user.password_confirmation">
        </div>
        <div class="help">
          アカウントをすでにお持ちの方　<a href="javascript:void(0)" ng-click="vm.closeSignupModal();vm.openLoginModal()">ログイン</a>
        </div>
        <div class="buttons">
          <button type="button" style="cursor: pointer;" ng-click="vm.signup(user)">
              新規会員登録
          </button>
        </div>
      </div>
    </div>
    <div class="modal-close-btn" ng-click="vm.closeSignupModal()">
      &#10005;
    </div>
  </div>
</div>
