.jumbotron {
  background-color: #ffffff !important;
}

.horizontal {
  list-style: none;
}

.horizontal li {
  float: left;
  margin: 0 1px;
}

@media all and (max-width: 700px)
{
  .jumbotron
  {
    height: 120px;
  }
}

.yellow-bot-border {
  border-bottom: 4px solid rgb(255, 189, 0) !important;
}

.nav .split {
  color: white;
  padding: 15px 0;
}

.mobile-nav {
  height: 35px;
  list-style: none;
  font-size: 1.5em;
}

.mobile-nav a {
  color: rgb(100, 100, 100);
}

.mobile-nav a:hover {
  color: rgb(100, 100, 100);
}

.navbar-grey {
  background-color: rgb(245, 245, 245);
}

.center-item {
  width: 28px;
  margin: 0 auto;
}

.user_nav {
  position: absolute;
  top: 15px;
  right: 100px;
}

#top {
  position: relative;
  padding-top: 0.01em;
}

#top .logo {
  margin-top: 50px;
  margin-left: 100px;
  padding-bottom: 10px;
}

.logo-tagline {
  display: inline;
  height: 100px;
  width: 100px;
}

.yuji-logo-tagline {
  margin-left: 10%;
}

#top .subscribe {
  position: absolute;
  bottom: 10px;
  right: 100px;
}

#top .subscribe li {
  position: relative;
  margin-left: 8px;
  font-size: 12px;
}





#nav-bar {
  position: relative;
  padding: 8px 100px;
  background-color: #333;
  border-top: solid 1px #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#5C5C5C), to(#111));
  background: -moz-linear-gradient(top,  #5C5C5C, #111);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5C5C5C', endColorstr='#111');
  border-bottom: solid 3px #FFBD00;
  margin-bottom: 15px;
}

#nav-bar .nav {
  float: right;
  padding-top: 2px;
}

#nav-bar .nav li {
  padding-left: 25px;
  font-size: 14px;
  color: #BBB;
}

#nav-bar .nav li a {
  color: #FFF;
  text-decoration: none;
}

#nav-bar .nav li a:hover {
  color: #FFF;
  text-decoration: underline;;
}

.login-container, .signup-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 99;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 100px 0px;
  background: rgba(32, 28, 43, 0.901961);
}

.login-inner, .signup-inner {
  position: relative;
  width: 420px;
  padding-right: 3rem;
  margin: 0 auto;
}

.button.twitch_button {
  background: #6441a4;
  color: #fff;
  padding: 2px 12px 2px 4px;
}

.login-box, .signup-box {
  background: white;
  padding: 25px 25px 5px;
  box-sizing: border-box;
}

.login-box .wrapper, .signup-box .wrapper {
  margin-top: 20px;
}

.item {
  position: relative;
  margin: 0 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.item.field {
  margin-bottom: 10px;
}

.item.field input[type=text], .item.field input[type=password], .item.field input[type=email] {
  width: 100%;
  line-height: 28px;
  height: 30px;
  border: 1px solid #dad8de;
  color: #706a7c;
}

.wrapper .buttons {
  padding: 20px 0;
  border-top: 1px solid #dad8de;
  width: 100%;
  text-align: center;
}

.help {
  margin: 10px 0;
}

.help a {
  color: #6441a4;
  cursor: pointer;
}

.help a:hover {
  color: darken(#6441a4, 10%);
  text-decoration: none;
}

.modal-close-btn {
  position: absolute;
  right: 10px;
  top: -2px;
  fill: white;
  cursor: pointer;
  opacity: .75;
  z-index: 99;
  color: white;
}

.field .text {
  font-size: 16px;
}

#nav-bar {
  height: 24px;
}
