<div id="top">
  <div class="logo">
    <a class="no-underline" href="/">
      <img alt="Yuji profile Logo" height="56" src="/assets/images/japanesekoreanug-profile_image.jpeg">
      <img class="yuji-logo-tagline" alt="JapaneseKoreanUG" height="40" src="/assets/images/Logomakr_7vEWEF.jpg">
    </a>
  </div>
  <div class="user_nav">
    <div ng-show="vm.currentUser">
      Logged in as <a href="javascript:void(0)" ui-sref="profile">{{ vm.currentUser.name }}</a>
      | <a href="/comments">Recent Comments</a>
      | <a href="javascript:void(0)" ng-click="vm.logout()">Log Out</a>
    </div>
    <div ng-show="!vm.currentUser">
      <a href="javascript:void(0)" ng-click="vm.openLoginModal();">Sign in Now</a>
      | <a href="javascript:void(0)" ng-click="vm.openSignupModal();">Sign Up</a>
    </div>
  </div>
  <ul class="subscribe horizontal">
    <li>
      <a href="https://twitter.com/jpkr_ug"><img alt="Twitter" height="34" src="/assets/images/twitter.png" width="34"></a>
      <span class="name">follow on Twitter</span>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UCPLVTmdgB-ljT3S5xGBhBQA"><img alt="Youtube" height="34" src="/assets/images/youtube.jpg" width="34"></a>
      <span class="name">subscribe on Youtube</span>
    </li>
    <li>
      <a href="https://www.twitch.tv/japanesekoreanug"><img alt="Twitch" height="34" src="/assets/images/twitch.png" width="34"></a>
      <span class="name">subscribe on Twitch</span>
    </li>
  </ul>
</div>
<div id="nav-bar">
  <ul class="nav horizontal">
    <li><a href="javascript:void(0)" ui-sref="home">Browse Episodes</a></li>
    <li><a href="javascript:void(0)" ui-sref="about">About</a></li>
    <li><a href="javascript:void(0)" ui-sref="feedback">Feedback</a></li>
  </ul>
  <form accept-charset="UTF-8" action="" method="get">
    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
    <input id="search" name="search" size="35" type="text">
    <input type="submit" value="Search Episodes">
  </form>
</div>
<div class="login-container" ng-if="vm.loginWndOpen">
  <div class="login-inner">
    <div class="login-box" style="height: 417px;">
      <div class="wrapper">
        <div class="item">
          <button class="twitch_button button" style="padding: 10px 12px;">
            <span style="font-size:14px; cursor: pointer;" ng-click="vm.authenticate('twitch')">Connect with Twitch</span>
          </button>
        </div>
        <div class="field item">
          <label for="email">Email</label>
          <input autocapitalize="none" type="text" name="username" id="username" class="text" ng-model="user.email">
        </div>
        <div class="field item">
          <label for="password">Password</label>
          <input autocapitalize="none" type="password" name="password" id="password" class="text" ng-model="user.password">
        </div>
        <div class="help">
          <a>Trouble loggin in?</a>
        </div>
        <div class="help">
          Doesn't have an account? <a href="javascript:void(0)" ng-click="vm.closeLoginModal();vm.openSignupModal();">sign up</a>
        </div>
        <div class="buttons">
          <button type="button" style="cursor: pointer;" ng-click="vm.login(user)">
              Log In
          </button>
        </div>
      </div>
    </div>
    <div class="modal-close-btn" ng-click="vm.closeLoginModal()">
      &#10005;
    </div>
  </div>
</div>
<div class="signup-container" ng-if="vm.signupWndOpen">
  <div class="signup-inner">
    <div class="signup-box" style="height: 500px;">
      <div class="wrapper">
        <div class="item">
          <button class="twitch_button button" style="padding: 10px 12px;">
            <span style="font-size:14px; cursor: pointer;" ng-click="vm.authenticate('twitch')">Connect with Twitch</span>
          </button>
        </div>
        <div class="field item">
          <label for="email">Email</label>
          <input autocapitalize="none" type="email" name="email" id="email" class="text" ng-model="user.email">
        </div>
        <div class="field item">
          <label for="name">Name</label>
          <input autocapitalize="none" type="text" name="name" id="name" class="text" ng-model="user.name">
        </div>
        <div class="field item">
          <label for="password">Password</label>
          <input autocapitalize="none" type="password" name="password" id="password" class="text" ng-model="user.password">
        </div>
        <div class="field item">
          <label for="password-confirmation">Password Confirmation</label>
          <input autocapitalize="none" type="password" name="password" id="password-confirmation" class="text" ng-model="user.password_confirmation">
        </div>
        <div class="help">
          Already have an account? <a href="javascript:void(0)" ng-click="vm.closeSignupModal();vm.openLoginModal()">sign in</a>
        </div>
        <div class="buttons">
          <button type="button" style="cursor: pointer;" ng-click="vm.signup(user)">
              Sign up
          </button>
        </div>
      </div>
    </div>
    <div class="modal-close-btn" ng-click="vm.closeSignupModal()">
      &#10005;
    </div>
  </div>
</div>
