#about .yuji {
  float: right;
  padding: 7px;
  margin-left: 50px;
  border: solid 1px #CCC;
  text-align: center;
  font-weight: bold;
}

#about .yuji img {
  display: block;
  padding-bottom: 5px;
}

#about h2 {
  margin-top: 25px;
  margin-bottom: 8px;
}

#about p {
  margin: 8px 0;
}

.about-button {
  margin: 10px 0;
  font-size: 13px;
  padding: 5px 10px 6px 10px;
  font-weight: bold;
  border: 1px solid #466A98;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  text-decoration: none;
  text-shadow: 0 -1px 0 #036;
}

.blue {
  color: #FFF;
  background: #386FB2;
  background: -webkit-gradient(linear, left top, left bottom, from(#67B0EF), to(#2B5EA4));
  background: -moz-linear-gradient(top,  #579CEA,  #2B5EA4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#579CEA', endColorstr='#2B5EA4');
}

.grey {
  color: rgba(#110f0f, 0.74);
}
