.blog-wrapper .bullet {
  font-weight: bold;
  margin: 4em 0 2em;
  position: relative;
  background-color: #fff;
  padding: .5em 1em .5em 1.5em;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.blog-wrapper .bullet:after {
  position: absolute;
  top: .5em;
  left: .5em;
  content: '';
  width: 6px;
  height: -webkit-calc(100% - 1.2em);
  height: calc(100% - 1.2em);
  background-color: #f0ad4e;
}

.blog-wrapper .section-header {
  font-weight: bold;
  margin: 3.8em 0 2em;
  padding: .4em 0 .4em .1em;
  position: relative;
  border-bottom: 2px solid #ccc;
}

.blog-wrapper .section-header:after {
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 2;
  content: '';
  width: 30%;
  height: 2px;
  background-color: #f0ad4e;
}

.blog-wrapper .pink-underline {
  margin: auto .2em;
  background: linear-gradient(transparent 80%, #ffc6fa 80%);
  background: -webkit-linear-gradient(transparent 80%, #ffc6fa 80%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #fff), color-stop(80%, #ffc6fa));
}

.blog-wrapper p {
  font-size: 1.14em;
  line-height: 1.75em;
}

.blog-wrapper .orange-box {
  border: 1px solid #ff6819;
  margin: 24px auto;
  max-width: 100% !important;
  width: 100%;
  padding: 1.2em;
  border-radius: 4px;
  font-size: 1.14em;
}

.blog-wrapper .gray-box {
  width: 90%;
  margin: 2em auto;
  padding: 1.5em 1em;
  background-color: #f8f8f8;
  overflow: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.blog-wrapper .no-disc-style {
  list-style: none;
}
